{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="font-bold text-center p-5 text-2xl">Werner – посуда для кухни, которая наполняет вашу жизнь новыми приятными впечатлениями.</h1>

<p class="p-10">
Бренд Werner входит в портфель брендов группы компаний GIPFEL International, начиная свою историю на российском рынке с 2015 года. 
Под контролем GIPFEL International продумывается дизайн, проходит сертификация и осуществляется шестиступенчатая проверка качества нашей продукции. 
Бренд Werner – это удобная, яркая, экологичная посуда для приготовления кулинарных шедевров.
Мы производим и продаем стильную и практичную посуду для тех, кому важно готовить вкусную и здоровую пищу.</p>
<img class="mx-auto" src="{% static 'img/pan.jpg' %}">

{% endblock %}