{% extends "base.html" %} 

{% block content %}
    <div class="cart__body">
        {% for item in cart %}
            <div>
                Количество: {{item.quanity}} <a href="{% url 'cart_add' item.product.id %}">+</a>
                Цена: {{item.price}}
                <img src="{{item.product.image.url}}" width="100px" height="100px">
                <a href='{% url "cart_remove" item.product.id%}'>Удалить</a>
            </div>
        {% endfor %}
    </div>
    Сумма корзины:{{cart.get_total_price}}
    {% if cart %}
    <a href="{% url 'cart_remove_all'%}">Очистить корзину</a>
    {% endif%}
    <div>
        <div>
            <h2>Оформление заказа</h2>
        </div>
        <form action="{% url 'create_order'%}" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Заказ</button>
        </form>
    </div>
{%endblock%}